* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

body {
    background-image: url(background.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.task {
    margin-left: 701px;
    border-radius: 25px;
    background-color: rgb(231, 153, 214);
    width: 34%;
    height: 280px;
    margin-top: 100px;
    padding: 10px 10px;
    justify-content: space-around;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3);
    box-shadow: 5px 10px 18px #69526b;
}

#heading {
    font-size: 40px;
    color: rgb(48, 24, 60);
    font-weight: bold;
    font-family: "Times New Roman", Times, serif;
    text-align: center;
    margin-bottom: 15px;
}

.fa-list-check {
    padding: 20px;
}

.sub-heading {
    font-family: "cursive", "Lucida Handwriting";
    color: rgb(36, 39, 175);
    font-size: 25px;
    margin-bottom: 20px;
    text-align: center;
}

#task-input {
    margin-left: 120px;
    height: 50px;
    width: 380px;
    margin-top: 15px;
    font-size: 20px;
    border-radius: 5px;
}

.btn {
    margin-top: 1px;
    margin-left: 10px;
    width: 80px;
    height: 50px;
    background-color: rgb(23, 140, 213);
    color: white;
    border: none;
    border-radius: 7px;
    cursor: pointer;
    font-size: 25px;
}

.btn:hover {
    background-color: rgb(38, 90, 221);
}

.add-task {
    margin-left: 690px;
    width: 35%;
    height: auto;
    margin-top: 15px;
    padding: 10px 10px;
}

#alert-message {
    font-size: 25px;
    color: deeppink;
    margin-bottom: 15px;
    margin-left: 180px;
    font-weight: bold;
    font-family: "Times New Roman", Times, serif;
}

#list {
    list-style-type: none;
}

#list li {
    margin-top: 10px;
    margin-bottom: 10px;
    height: 50px;
    font-size: 20px;
    font-weight: bold;
    color: black;
    background-color: white;
    font-family: cursive;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3);
    padding: 10px 10px 10px 10px;
}

#list li a {
    float: right;
    cursor: pointer;
    margin-left: 15px;
    color: black;
    margin-top: 5px;
}